<%- include("../../views/_header")%>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <form action="/nattanan/nattanan2/<%= data.id %>" method="post">
                      <div class="form-group">
                        <h6> prem  : <%= data.prem %></h6>
                      </div>
                      <div class="form-group">
                      <h6> thananchai  : <%= data.thananchai %></h6>
                      </div>
                      <div class="form-group">
                            <h6> D511998018    : <%= data.D611998005 %></h6>
                      </div>
                      <div class="form-group">
                      <h6> witid   : <%= data.id_wittaya %></h6>
                      </div>

                    <a href="/prem/delete/<%= data.id %>" class="btn btn-danger"> Confirm </a>
                      <a href="/prem" class="btn btn-primary"> Back </a>

                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/_footer")%>
