<%- include ('../../views/_header.ejs') %>
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <%  if(data1){ %>
                            <form action="/prem/update2/<%= data1.id %>" method="post">
                                <div class="form-group">
                              <h6> prem </h6>      <input type="text" name="prem" value="<%= data1.prem %>" class="from-control">
                                </div>

                                <div class="form-group">
                                <h6> thananchai </h6>    <input type="text" name="thananchai" value="<%= data1.thananchai %>" class="from-control">
                                </div>

                                <div class="form-group">
                                  <h6> D611998005 </h6>  <input type="text" name="D611998005" value="<%= data1.D611998005 %>" class="from-control">
                                </div>
                                <select class="form-control" name="id_wittaya">
                               <option value="">กรุณาเลือก</option>
                                <% if(data2){ %>
                                  <%  for(var i=0;i<data2.length;i++){ %>
                                    <option value=" <%= data2[i].id %>"
                                      <% if(data2[i].id==data1.id_wittaya){%> selected <% } %>>%>

                                      <%= data2[i].wit %>
                                      </option>
                                  <%  }%>

                              <%    }%>
                                </select>

                                <h1></h1>
                                <h1></h1>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                  <a href="/prem" class="btn btn-primary"> Back </a>

                                </div>






                            <%  } else { %>
                              <form action="/prem/add" method="post">
                                  <div class="form-group">
                                <h6> prem </h6>  <input type="text" name="prem" placeholder="Varchar" class="from-control">
                                  </div>
                                  <div class="form-group">
                                      <h6> thananchai </h6>   <input type="text" name="thananchai" placeholder="Float" class="from-control">
                                  </div>
                                  <div class="form-group">
                                    <h6> D611998005 </h6>   <input type="text" name="D611998005" placeholder="Int" class="from-control">
                                  </div>
                                  <div class="form-group">
                                  <h6> wittaya </h6>
                                  <select class="form-control" name="id_wittaya">
                                  <option  value=""> กรุณาเลือก </option>
                                  <% if(data2){ %>
                                    <%  for(var i=0;i<data2.length;i++){ %>
                                      <option value=" <%= data2[i].id %>"> <%= data2[i].wit%> </option>
                                    <%  }%>
                                <%    }%>
                                  </select>
                                  </div>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                    <a href="/prem" class="btn btn-primary"> Back </a>
                              </form>
                                <%   } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
