<%- include ("../../views/_header") %>
    <div class="continer">
        <h2>nattanan</h2>
        <div class="row mt-5">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/prem/new" class="btn btn-success"> ADD </a>
                <br></br>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th > No </th>
                            <th > prem </th>
                            <th > thananchai </th>
                            <th > D611998005 </th>
                            <th > wit </th>
                            <th > kasonkatika </th>
                            <th > D611998018 </th>

                            <th > Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td >
                                        <%= (i+1) %>
                                    </td>
                                    <td >
                                        <%= data[i].pprem %>
                                    </td>
                                    <td >
                                        <%= data[i].pthananchai %>
                                    </td>
                                    <td >
                                        <%= data[i].pD611998005 %>
                                    </td>
                                    <td >
                                        <%= data[i].wwit %>
                                    </td>
                                    <td >
                                        <%= data[i].wkasonkatika %>
                                    </td>
                                    <td >
                                        <%= data[i].wD611998018 %>
                                    </td>
                                    <td >
                                      <a href="/prem/update/<%= data[i].pid %>" class="btn btn-warning"> EDIT </a>
                                      <a href="/prem/prem2/<%= data[i].pid %>" class="btn btn-danger"> Delete </a>
                                    </td>
                                    <%  } %>
                                    <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("../../views/_footer")%>
