<%- include("../../views/_header")%>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <form action="/wittaya/wittaya2/<%= data.id %>" method="post">
                      <div class="form-group">
                        <h6> wit  : <%= data.wit %></h6>
                      </div>
                      <div class="form-group">
                      <h6> kasonkatika  : <%= data.kasonkatika %></h6>
                      </div>
                      <div class="form-group">
                            <h6> D511998018    : <%= data.D611998018 %></h6>
                      </div>
                      <div class="form-group">
                      <h6> waveid   : <%= data.id_sahatsawat %></h6>
                      </div>

                    <a href="/wit/delete/<%= data.id %>" class="btn btn-danger"> Confirm </a>
                      <a href="/wit" class="btn btn-primary"> Back </a>

                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/_footer")%>
