<%- include ('../../views/_header.ejs') %>
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <%  if(data1){ %>
                            <form action="/wit/update2/<%= data1.id %>" method="post">
                                <div class="form-group">
                                <h6> wit </h6><input type="text" name="wit" value="<%= data1.wit %>" class="from-control">
                                </div>
                                <div class="form-group">
                                <h6> kasonkatika </h6><input type="text" name="kasonkatika" value="<%= data1.kasonkatika %>" class="from-control">
                                </div>
                                <div class="form-group">
                                <h6> D611998018 </h6><input type="text" name="D611998018" value="<%= data1.D611998018 %>" class="from-control">
                                </div>
                                <select class="form-control" name="id_sahatsawat">
                                <option value="">กรุณาเลือก</option>
                                <% if(data2){ %>
                                  <%  for(var i=0;i<data2.length;i++){ %>
                                    <option value=" <%= data2[i].id %>"
                                      <% if(data2[i].id==data1.id_sahatsawat){%> selected <% } %>>
                                      <%= data2[i].wave%>
                                      </option>
                                  <%  }%>

                              <%    }else {

                              }%>
                                </select>
                                <h1></h1>
                                <h1></h1>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                  <a href="/wit" class="btn btn-primary"> Back </a>

                                </div>

                            <%  } else { %>
                              <form action="/wit/add" method="post">
                                  <div class="form-group">
                                <h6> wit </h6>  <input type="text" name="wit" placeholder="Varchar" class="from-control">
                                  </div>
                                  <div class="form-group">
                                      <h6> kasonkatika </h6>   <input type="text" name="kasonkatika" placeholder="Float" class="from-control">
                                  </div>
                                  <div class="form-group">
                                    <h6> D611998018 </h6>   <input type="text" name="D611998018" placeholder="Int" class="from-control">
                                  </div>
                                  <div class="form-group">
                                  <h6> sahatsawat </h6>
                                  <select class="form-control" name="id_sahatsawat">
                                  <option value=""> กรุณาเลือก </option>
                                  <% if(data2){ %>
                                    <%  for(var i=0;i<data2.length;i++){ %>
                                      <option value=" <%= data2[i].id %>" > <%= data2[i].wave%> </option>
                                    <%  }%>
                                <%    }%>
                                  </select>
                                  </div>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                    <a href="/wit" class="btn btn-primary"> Back </a>
                              </form>
                                <%   } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
