<%- include ("../../views/_header") %>
<nav class="">
    <div class="continer">
        <h2>Wittaya</h2>
        <div class="row mt-5">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/wit/new" class="btn btn-success"> ADD </a>
                <br></br>
                <table class="table table-bordered table-info">
                    <thead>
                        <tr>
                            <th > No </th>
                            <th > wit </th>
                            <th > kasonkatika </th>
                            <th > D611998018 </th>
                            <th > wave </th>
                            <th > promson </th>
                            <th > D611998022 </th>

                            <th > Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td >
                                        <%= (i+1) %>
                                    </td>
                                    <td >
                                        <%= data[i].wit %>
                                    </td>
                                    <td >
                                        <%= data[i].kasonkatika %>
                                    </td>
                                    <td >
                                        <%= data[i].D611998018 %>
                                    </td>
                                    <td >
                                        <%= data[i].wave %>
                                    </td>
                                    <td >
                                        <%= data[i].promson %>
                                    </td>
                                    <td >
                                        <%= data[i].D611998022 %>
                                    </td>

                                    <td >
                                      <a href="/wit/update/<%= data[i].sid%>" class="btn btn-warning"> EDIT </a>
                                      <a href="/wit/wit2/<%= data[i].sid%>" class="btn btn-danger"> Delete </a>
                                    </td>
                                    <%  } %>
                              <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</nav>
    <%- include("../../views/_footer")%>
