<%- include ("../../views/_header") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h4>Sahatsawat</h4>
</nav>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/wave/new" class="btn btn-success"> ADD </a>
                <br></br>
                <table class="table table-bordered table-secondary">
                    <thead>
                        <tr>
                            <th > No </th>
                            <th > wave </th>
                            <th > promson </th>
                            <th > D611998022 </th>
                            <th > oat </th>
                            <th > kanthayong </th>
                            <th > D611998003 </th>

                            <th > Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td >
                                        <%= (i+1) %>
                                    </td>
                                    <td >
                                        <%= data[i].wave %>
                                    </td>
                                    <td >
                                        <%= data[i].promson %>
                                    </td>
                                    <td >
                                        <%= data[i].D611998022 %>
                                    </td>
                                    <td >
                                        <%= data[i].oat %>
                                    </td>
                                    <td >
                                        <%= data[i].kanthayong %>
                                    </td>
                                    <td >
                                        <%= data[i].D611998003 %>
                                    </td>

                                    <td >
                                      <a href="/wave/update/<%= data[i].sid%>" class="btn btn-warning"> EDIT </a>
                                      <a href="/wave/wave2/<%= data[i].sid%>" class="btn btn-danger"> Delete </a>
                                    </td>
                                    <%  } %>
                              <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("../../views/_footer")%>
