<%- include("../../views/_header")%>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <form action="/sahatsawat/sahatsawat2/<%= data.id %>" method="post">
                      <div class="form-group">
                        <h6> wave  : <%= data.wave %></h6>
                      </div>
                      <div class="form-group">
                      <h6> promson  : <%= data.promson %></h6>
                      </div>
                      <div class="form-group">
                            <h6> D611998022    : <%= data.D611998022 %></h6>
                      </div>
                      <div class="form-group">
                      <h6> waveid   : <%= data.id_sahatsawat %></h6>
                      </div>

                    <a href="/wave/delete/<%= data.id %>" class="btn btn-danger"> Confirm </a>
                      <a href="/wave" class="btn btn-primary"> Back </a>

                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/_footer")%>
