<%- include ('../../views/_header.ejs') %>
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <%  if(data1){ %>
                            <form action="/wave/update2/<%= data1.id %>" method="post">
                                <div class="form-group">
                                <h6> wave </h6><input type="text" name="wave" value="<%= data1.wave %>" class="from-control">
                                </div>
                                <div class="form-group">
                                <h6> promson </h6><input type="text" name="promson" value="<%= data1.promson %>" class="from-control">
                                </div>
                                <div class="form-group">
                                <h6> D611998022 </h6><input type="text" name="D611998022" value="<%= data1.D611998022 %>" class="from-control">
                                </div>
                                <select class="form-control" name="id_chokkitti">
                                <option value="">กรุณาเลือก</option>
                                <% if(data2){ %>
                                  <%  for(var i=0;i<data2.length;i++){ %>
                                    <option value=" <%= data2[i].id %>"
                                      <% if(data2[i].id==data1.id_chokkitti){%> selected <% } %>>%>
                                      <%= data2[i].oat%>
                                      </option>
                                  <%  }%>

                              <%    }%>
                                </select>

                                <h1></h1>
                                <h1></h1>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                  <a href="/wave" class="btn btn-primary"> Back </a>

                                </div>

                            <%  } else { %>
                              <form action="/wave/add" method="post">
                                  <div class="form-group">
                                <h6> wave </h6>  <input type="text" name="wave" placeholder="Varchar" class="from-control">
                                  </div>
                                  <div class="form-group">
                                      <h6> promson </h6>   <input type="text" name="promson" placeholder="Float" class="from-control">
                                  </div>
                                  <div class="form-group">
                                    <h6> D611998022 </h6>   <input type="text" name="D611998022" placeholder="Int" class="from-control">
                                  </div>
                                  <div class="form-group">
                                  <h6> sahatsawat </h6>
                                  <select class="form-control" name="id_chokkitti">
                                  <option value=""> กรุณาเลือก </option>
                                  <% if(data2){ %>
                                    <%  for(var i=0;i<data2.length;i++){ %>
                                      <option value=" <%= data2[i].id %>" > <%= data2[i].oat%> </option>
                                    <%  }%>
                                <%    }%>
                                  </select>
                                  </div>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                    <a href="/wave" class="btn btn-primary"> Back </a>
                              </form>
                                <%   } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
