<%- include("../../views/_header")%>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <form action="/oat/oat2/<%= data.id %>" method="post">
                      <div class="form-group">
                        <h6> oat  : <%= data.oat %></h6>
                      </div>
                      <div class="form-group">
                      <h6> kanthayong  : <%= data.kanthayong %></h6>
                      </div>
                      <div class="form-group">
                            <h6> D511998003    : <%= data.D611998003 %></h6>
                      </div>
                      <div class="form-group">
                      <h6> premid   : <%= data.id_nattanan %></h6>
                      </div>

                    <a href="/oat/delete/<%= data.id %>" class="btn btn-danger"> Confirm </a>
                      <a href="/oat" class="btn btn-primary"> Back </a>

                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/_footer")%>
