<%- include ("../../views/_header") %>
    <div class="continer">
        <h2>Chokkitti</h2>
        <div class="row mt-5">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/oat/new" class="btn btn-success"> ADD </a>
                <br></br>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th > No </th>
                            <th > oat </th>
                            <th > kanthayong </th>
                            <th > D611998003 </th>
                            <th > prem </th>
                            <th > thananchai </th>
                            <th > D611998005 </th>

                            <th > Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td >
                                        <%= (i+1) %>
                                    </td>
                                    <td >
                                        <%= data[i].oat %>
                                    </td>
                                    <td >
                                        <%= data[i].kanthayong %>
                                    </td>
                                    <td >
                                        <%= data[i].D611998003 %>
                                    </td>
                                    <td >
                                        <%= data[i].prem %>
                                    </td>
                                    <td >
                                        <%= data[i].thananchai %>
                                    </td>
                                    <td >
                                        <%= data[i].D611998005 %>
                                    </td>
                                    <td >
                                      <a href="/oat/update/<%= data[i].sid%>" class="btn btn-warning"> EDIT </a>
                                      <a href="/oat/oat2/<%= data[i].sid%>" class="btn btn-danger"> Delete </a>
                                    </td>
                                    <%  } %>
                                    <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("../../views/_footer")%>
