<%- include ('../../views/_header.ejs') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <%  if(data1){ %>
                            <form action="/oat/update2/<%= data1.id %>" method="post">
                                <div class="form-group">
                                <h6> oat </h6><input type="text" name="oat" value="<%= data1.oat %>" class="from-control">
                                </div>
                                <div class="form-group">
                                <h6> kanthayong </h6><input type="text" name="kanthayong" value="<%= data1.kanthayong %>" class="from-control">
                                </div>
                                <div class="form-group">
                                <h6> D611998003 </h6><input type="text" name="D611998003" value="<%= data1.D611998003 %>" class="from-control">
                                </div>
                                <select class="form-control" name="id_nattanan">
                                <option value="">กรุณาเลือก</option>
                                <% if(data2){ %>
                                  <%  for(var i=0;i<data2.length;i++){ %>
                                    <option value=" <%= data2[i].id %>"
                                      <% if(data2[i].id==data1.id_nattanan){%> selected <% } %>>%>
                                      <%= data2[i].prem%>
                                      </option>
                                  <%  }%>

                              <%    }%>
                                </select>

                                <h1></h1>
                                <h1></h1>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                  <a href="/oat" class="btn btn-primary"> Back </a>

                                </div>

                            <%  } else { %>
                              <form action="/oat/add" method="post">
                                  <div class="form-group">
                                <h6> oat </h6>  <input type="text" name="oat" placeholder="Varchar" class="from-control">
                                  </div>
                                  <div class="form-group">
                                      <h6> kanthayong </h6>   <input type="text" name="kanthayong" placeholder="Float" class="from-control">
                                  </div>
                                  <div class="form-group">
                                    <h6> D611998003 </h6>   <input type="text" name="D611998003" placeholder="Int" class="from-control">
                                  </div>
                                  <div class="form-group">
                                  <h6> chokkitti </h6>
                                  <select class="form-control" name="id_nattanan">
                                  <option value=""> กรุณาเลือก </option>
                                  <% if(data2){ %>
                                    <%  for(var i=0;i<data2.length;i++){ %>
                                      <option value=" <%= data2[i].id %>" > <%= data2[i].prem%> </option>
                                    <%  }%>
                                <%    }%>
                                  </select>
                                  </div>
                                  <button type="submit" class="btn btn-warning"> save </button>
                                    <a href="/oat" class="btn btn-primary"> Back </a>
                              </form>
                                <%   } %>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
